@import "";

/* Estilos específicos para la landing page */
body .landing-page {
  p {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
  }

  ul {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
  }

  h3 {
    margin-top: 4rem !important;
    margin-bottom: 2rem !important;
  }

  section {
    margin-bottom: 5rem !important;
  }
} 